-content_for :head do
  = javascript_include_tag "/plugin_assets/amsentertainment/javascripts/flashobject.js"
- content_for :meta_title do
  =@artist.title
- content_for :side_column do
  .artist-details
    - unless @artist.images.empty?
      - image = @artist.images.sort_by(&:position).first
      = link_to image_tag(image.image.url(:medium)), image.image.url(:large), :rel => "gallery", :title => h(image.caption), :class => "fancy"
      = "<div class=\"caption\">#{image.caption}</div>" unless image.caption.blank?
      = clear
      - if @artist.images_count > 1
        .scrollable
          .items
            - @artist.images.sort_by(&:position).each_with_index do |image, i|
              - unless i == 0
                .image
                  = link_to image_tag(image.image.url(:thumb)), image.image.url(:large), :rel => "gallery", :title => h(image.caption), :class => "fancy"
          = clear
        - if @artist.images_count > 5
          = "<a class=\"prev\">&lt;</a>"
          .navi
          = "<a class=\"next\">&gt;</a>"
          = "<span class=\"gray small\">#{pluralize(@artist.images_count, 'image')}</span>"
    = clear  
    -if !@clips.blank?
      %h2 Audio Clips
      %ul{:class => "song_list"}
        = render :partial => "clip", :collection => @clips 
    - content_for :head do
      :javascript
        jQuery(function() {            
        // initialize scrollable  
        jQuery("div.scrollable").scrollable({
        size: 4,
        clickable: false,
        loop: true
        });
        });

%h1= @artist.title
// Combine the two types of artist attributes and output
-artist_attrb = []
-unless @artist.genres.blank?
  -@artist.genres.each do |a|
    -artist_attrb << link_to(a.title, genre_path(a))

-unless @artist.artist_types.blank?
  -@artist.artist_types.each do |t|
    -artist_attrb << link_to(t.title, artist_type_path(t))

=artist_attrb.join(", ") unless artist_attrb.blank?
.artist
  - @artist.price.times do
    = icon "Currency Dollar",'/pricing','','','24x24','green'
  =ninja_parse(@artist.body)

    
-content_for :side_column_2 do
  = render :partial => "shared/artists_nav", :locals => { :genres => @genres, :artist_types => @artist_types }