-unless @hide_admin_menu
  #admin-menu
    - if current_user.has_role(@permissions['admin'])
      %ul
        %li= link_to "Home", "/", :id => "home"
        %li= link_to "Dashboard", "/admin", :id => "admin-home"
        - if @cms_config['modules']['pages']
          %li= link_to "Assets", admin_assets_path, :id => "admin-assets" if current_user.has_role(@permissions['assets'])
          %li= link_to "Pages", admin_pages_path, :id => "admin-pages" if current_user.has_role(@permissions['pages'])
        - if @cms_config['modules']['blog']
          %li= link_to @cms_config['site_settings']['blog_title'], admin_articles_path, :id => "admin-blogs" if current_user.has_role(@permissions['articles'])
        - if @cms_config['modules']['properties']
          %li= link_to "Properties", admin_properties_path, :id => "admin-properties"
          %li= link_to "Property Types", admin_property_types_path, :id => "admin-property-types"
          %li= link_to "Regions", admin_regions_path, :id => "admin-regions"
        - if @cms_config['features']['testimonials']
          - testimonials = Page.find_by_permalink("testimonials")
          %li= link_to "Testimonials", [:admin, testimonials, :testimonials], :id => "admin-testimonials" if current_user.has_role(@permissions['testimonials'])
        - if @cms_config['modules']['galleries']
          %li= link_to "Galleries", admin_galleries_path, :id => "admin-galleries" if current_user.has_role(@permissions['galleries'])
        - if @cms_config['features']['advanced_feature_box']
          %li= link_to "Videos", admin_videos_path, :id => "admin-videos" if current_user.has_role(@permissions['admin'])
        - if @cms_config['modules']['faqs']
          %li= link_to "FAQs", admin_faqs_path, :id => "admin-faqs" if current_user.has_role(@permissions['admin'])
        - if @cms_config['modules']['events']
          %li= link_to @cms_config['site_settings']['events_title'], admin_events_path, :id => "admin-events" if current_user.has_role(@permissions['events'])
        - if @cms_config['modules']['documents']
          %li= link_to "Documents", admin_folders_path, :id => "admin-documents" if current_user.has_role(@permissions['documents'])
        %li= link_to "People", admin_people_path, :id => "admin-contacts" if current_user.has_role(@permissions['people'])
        %li= link_to "Artists", admin_artists_path, :id => "admin-contacts" if current_user.has_role(@permissions['people'])
        %li= link_to "Entertainments", admin_entertainments_path, :id => "admin-videos" if current_user.has_role(@permissions['people'])
       
        - if @cms_config['modules']['newsletters']
          %li= link_to "Newsletters", admin_newsletters_path, :id => "admin-newsletters" if current_user.has_role(@permissions['newsletters'])
        - if @cms_config['modules']['links']
          %li= link_to @cms_config['site_settings']['links_title'], admin_links_path, :id => "admin-links" if current_user.has_role(@permissions['links'])
        - if @cms_config['modules']['product']
          %li= link_to "Products", admin_products_path, :id => "admin-product" if current_user.has_role(@permissions['products'])
        %li= link_to "Inquiries", admin_inquiries_path, :id => "admin-inquiries" if current_user.has_role(@permissions['inquiries'])
        - if current_user.has_role(@permissions['settings'])
          %li#settings-menu
            = link_to "", "javascript:void(0)", :id => "admin-settings"
            %ul#settings-ul
              %li= link_to "Edit Settings", edit_admin_setting_path, :id => "admin-settings-edit"
              %li= link_to "Templates", admin_templates_path, :id => "admin-settings-templates"
              %li= link_to "Side Columns", admin_columns_path(:column_location => "side_column"), :id => "admin-settings-side-column"
              %li= link_to "Main Columns", admin_columns_path(:column_location => "main_column"), :id => "admin-settings-main-column"
              %li= link_to "Redirects", admin_redirects_path, :id => "admin-settings-redirects"
              %li= link_to "Sign out", session_path, :method => :delete
        %li.signout
          %span.hmenu
            %strong= link_to(current_user.name, edit_admin_person_path(current_user.person.id))
            - if !current_user.has_role(@permissions['settings'])
              %span= link_to "Sign out", session_path, :method => :delete      
    - else
      %ul
        %li= link_to "Homepage", "/", :id => "home"
        - if current_user.has_role("Contributor")
          %li= link_to @settings.admin_blog_title, admin_articles_path, :id => "admin-blogs"
        %li.signout
          %span.hmenu
            %strong= link_to(current_user.name, edit_admin_person_path(current_user.person.id))
            %span= link_to "Sign out", session_path, :method => :delete
    = clear
  <div id="top-margin"></div>
  %style{:type => "text/css"}
    -if !@settings.favicon_file_name.blank?
      ==#home {background-image: url('#{@settings.favicon(:original)}')}
    -else
      ==#home {background-image: url('#{css_icon("Home")}')}
    ==#admin-menu ul { margin: 0 150px 0 0; }
    ==#admin-home {background-image: url('#{css_icon("Home")}')}
    ==#admin-pages {background-image: url('#{css_icon("Clipboard Copy")}')}
    ==#admin-blogs {background-image: url('#{css_icon("Write")}')}
    ==#admin-galleries {background-image: url('#{css_icon("Picture")}')}
    ==#admin-assets {background-image: url('#{css_icon("Folder2")}')}
    ==#admin-settings {background-image: url('#{css_icon("Gear", "", "24x24", "black")}'); position: absolute; right: 10px; top: 0; width: 36px !important; height: 36px !important; padding: 0 !important; }
    ==#admin-documents {background-image: url('#{css_icon("Folder3")}')}
    ==#admin-users {background-image: url('#{css_icon("Lock Open")}')}
    ==#admin-contacts {background-image: url('#{css_icon("User")}')}
    ==#admin-events {background-image: url('#{css_icon("Calendar")}')}
    ==#admin-testimonials {background-image: url('#{css_icon("Bubble 3")}')}
    ==#admin-inquiries {background-image: url('#{css_icon("Bubble 1")}')}
    ==#admin-product {background-image: url('#{css_icon("Cube")}')}
    ==#admin-store {background-image: url('#{css_icon("Cart")}')}
    ==#admin-links {background-image: url('#{css_icon("Link")}')}
    ==#admin-order {background-image: url('#{css_icon("Currency Dollar")}')}
    ==#admin-newsletters {background-image: url('#{css_icon("Document")}')}
    ==#admin-videos {background-image: url('#{css_icon("Video")}')}
    ==#admin-menu ul#settings-ul { display: block; background: #444; position: absolute; top: 34px; padding: 4px; right: 12px; margin: 0 0 0 0 !important; }
    ==#settings-ul li { display: block; float: none; padding: 2px 4px; }
    ==#settings-ul li a { padding: 4px; display: block; width: 100%; margin: 0; }
    ==#settings-ul li a:hover { background: #333; }
    ==#admin-menu .signout { margin: 0 10px 0 0; white-space: nowrap; position: absolute; right: 30px; width: 110px; padding: 5px; font-size: .8em; }
    ==#admin-menu .signout a { padding: 4px 0; float: none; display: inline; margin: 0; }
  :javascript
    jQuery(document).ready(function() {
    jQuery("#settings-ul").hide();
    jQuery("#admin-settings").click(function()
    {
    jQuery(this).next("#settings-ul").toggle();
    });
    });